In [15]:
import pandas as pd
import numpy as np

In [6]:
x = pd.read_csv('u.data')

In [7]:
x.head()

      0\t50\t5\t881250949
0    0\t172\t5\t881250949
1    0\t133\t1\t881250949
2  196\t242\t3\t881250949
3  186\t302\t3\t891717742
4   22\t377\t1\t878887116

In [10]:
r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('u.data', sep='\t',names=r_cols, usecols=range(3))
ratings.head()

   user_id  movie_id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3

In [16]:
movieProperties = ratings.groupby('movie_id').agg({'rating': [np.size, np.mean]})
movieProperties.head()

         rating
           size      mean
movie_id
1           452  3.878319
2           131  3.206107
3            90  3.033333
4           209  3.550239
5            86  3.302326